.boardcard{
    position: relative;

    display: flex;
    flex-direction: column;

    width: 20vw;
    height: 20vw;

    border-style: solid;
    border-width: 2px;
    border-color: var(--page-lining-color);

    border-radius: var(--image-radius);

    overflow: hidden;

    cursor: pointer;
    background-color: var(--page-background-color);

    margin: var(--generic-margin);
}

/* El bloque de imágenes ES el cuadrado */
.boardcard-images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    width: 100%;
    aspect-ratio: 1 / 1;  /* Aquí es donde debe estar el cuadrado */

    overflow: hidden;
}

/* PRIMARIA: toda la izquierda */
.boardcard-primary{
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    width: 100%;
    height: 100%;

    object-fit: cover;
    border-radius: 0;
}

/* SECUNDARIAS */
.boardcard-complimentary{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
}

/* TÍTULO */
.boardcard-title{
    padding: var(--generic-margin);
    font-weight: bold;
    font-size: 1.1rem;
    width: 100%;
    height: fit-content;
}

/* Tarjeta especial para crear */
.boardcard-create{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--page-background-color);
    border-style: dashed;
    border-color: var(--page-lining-color);
    color: var(--page-lining-color);

    font-weight: bold;
    font-size: 1.3rem;
}

/* Texto centrado */
.boardcard-create-label{
    pointer-events: none;
}

.boardview-columns {
    display: flex;
    flex-wrap: wrap;

    gap: var(--generic-margin);
    width: 100%;

    /* Le da un alineamiento elegante */
    align-items: flex-start;
}