/*@font-face {

}*/
  :root {
    --primary-color: #8F6593;
  
    --primary-color-button: #AEA4BF;
  
    --page-background-color: #F3F3EE;

    --page-secondary-background-color: #E3E4DB;

    --page-lining-color: #CDCDCD;

    --page-contrast-color: #3B252C;

    --image-radius: 1.5vw;

    --generic-margin: 10px;

    --content-size: 95%;
  
    /*--primary-font: Ambit;*/
  }

  /*div{
    font-family: Ambit;
  }*/

  * { 
    box-sizing: border-box; 
    color: var(--page-contrast-color);
}

input{
    padding: calc(var(--generic-margin) * 2);
    border-radius: var(--image-radius);

    width:100%;
    height: 7vh;

    background-color: var(--page-secondary-background-color);

    border-style: none;
}

textarea{
    padding:5px;
    border-radius: 5px;
}

select{
    padding:5px;
    border-radius: 5px;
}

  button {
    padding: 0.5em 1em;

    height: 40px;

    color: var(--page-lining-color);

    background-color: var(--page-contrast-color);
    border-radius: var(--image-radius);

    border-style: none;

    width: fit-content;
    
    font-weight: bold;
    white-space: nowrap;

    cursor: pointer;
  }
  
  button:hover{
      background-color: color-mix(in srgb, var(--page-contrast-color) 90%, #ffffff);
  }

  img{
    border-radius: var(--image-radius);
  }

.nomargin{
    padding: 1px;
    margin: 1px;
}

.pagecontent{
    position: absolute;

    top:0;
    left: calc(100% - var(--content-size));

    width: var(--content-size);
    height: fit-content;

    padding: var(--generic-margin);

    background-color: var(--page-background-color);
}

.spacer {
    height:1vw;
    width: 1vw;
}

.bigspacer {
    height:100%;
    width: 100%;
}

.toprightcorner{
    position: absolute;

    top: 0;
    right: 0;
}

.topleftcorner{
    position: absolute;

    top: 0;
    left: 0;
}

.columns{
    display:flex;
    flex-direction: row;

    width:100%;
}

.rows{
    display:flex;
    flex-direction: column;

    height:100%;
}

.image-column{
    display:flex;
    flex-direction: column;

    height: fit-content;
    
    flex-basis: 15vw; 
    
    flex-shrink: 1; 
    flex-grow: 1;
    
    min-width: 1vw;

    margin: var(--generic-margin / 2);
}

  .tabheader{
    display:flex;
    flex-direction: row;
    align-items: center;
    width:inherit;
    padding: 10px;
    background-color: #3D5A80;
    color: white;
}

.paddedbox{
    position: relative;

    height:inherit;
    width:inherit;

    margin: var(--generic-margin);
}