.homebar{
    position:fixed;

    top:0;
    left:0;

    padding: var(--generic-margin);

    display:flex;
    flex-direction: column;

    align-items: center;

    height:100%;
    width:calc(100% - var(--content-size));

    border-right: 2px solid var(--page-contrast-color);

    background-color: var(--page-background-color);
}

.homebar-icon{
    width: 100%;
    height: auto;

    border-radius: var(--image-radius);

        display: block;
}

.homebar-item{
    position: relative;

    width: 100%;
    height: fit-content;

    padding: var(--generic-margin);

}

.homebar-overlay{
    position: absolute;
    
    width: 100%;
    height: 100%;

    top:0;
    left:0;

    border-radius: var(--image-radius);

    background-color: rgba(0, 0, 0, 0.1); 

    z-index: 1;

    pointer-events: none;

    opacity: 0;
    transition: opacity 0.1s ease;
}

.homebar-item:hover .homebar-overlay {
    opacity: 1; 
}