.detailcard{
    display: flex;
    flex-direction: column;

    width: 80%;
    height: 100%;

    border-style: solid;
    border-width: 2px;
    border-color: var(--page-lining-color);

    border-radius: var(--image-radius);
}

.detailcard-return{
    width: 15%;

    margin: var(--generic-margin);
}

.detailcard-actions{
    margin-left: auto;

    padding: var(--generic-margin);
}

.detailcard-container{
    width: 100%;
    height: 100%;
}

.detailcard-img{
    display: block; 
    
    margin-left: auto;
    margin-right: auto;

    max-width: 65%;
    width:auto;
    max-height: 70vh;

    border-radius: var(--image-radius);
}

.detailcard-name{
    padding: var(--generic-margin);
}

.detailcard-commentcard{
    width: 100%;
    height: 100%;
    padding: var(--generic-margin);
    background-color: var(--page-secondary-background-color);
}